.story-rect {
    min-width: 120px;
    height: 70px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    padding: 8px;
    color: white;
    font-weight: 600;
    overflow: hidden;
    user-select: none;
  }
  
  .story-rect .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4); /* capa oscura encima de la imagen */
    pointer-events: none;
    border-radius: 8px;
    transition: background 0.3s ease;
  }
  
  .story-rect:hover .overlay {
    background: rgba(0,0,0,0.6); /* más oscuro al hover */
  }
  
  .story-title {
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }







  .card-text.text-truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* para navegadores WebKit */
    line-clamp: 3;         /* versión estándar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 60px;
  }
  
  